annotated-types
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
filelock
fsspec
h11
huggingface-hub
idna
Jinja2
torch --no-cache-dir
MarkupSafe
mpmath
networkx
numpy
packaging
pydantic
pydantic_core
PyYAML
regex
requests
safetensors
sniffio
starlette
sympy
tokenizers
tqdm
transformers
typing_extensions
urllib3
uvicorn
